<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>groupChat</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <header class="bg-gray-900 text-white py-2 text-center">
        <h1>GroupChat App</h1>
    </header>

    <div class="bg-gray-300 text-black py-2 text-center fixed bottom-0 w-full">
        <label for="userInput" class="font-bold">Enter your text:</label>
        <input type="text" id="userInput" name="userInput" class="p-2" style="width: 300px;">
        <button class="bg-gray-800 text-white w-36 h-10 rounded-xl" onClick="sendMessage(event)">Send</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function sendMessage(event){
            event.preventDefault()
            try{
                const userInput = document.getElementById("userInput").value;
                const messages = {
                    message: userInput
                }
                const token = localStorage.getItem('token');
                const message = await axios.post('http://localhost:3000/messages',  messages  ,{headers: {"Authorisation": token} })
                if(message.status===200){
                    console.log("message stored");
                }
            //     const messgae = {
            //            messgae: event.target.userInput
            //         }
             }
            catch(err){
                console.log(err);
            }
        }
    </script>


    <script src="https://cdn.tailwindcss.com"></script>  
</body>
</html>
