<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupChat</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="overflow-hidden">
    <!-- Navigation -->
    <nav class="bg-teal-800">
        <header class="text-white py-2 text-center">
            <h1 class="text-white">GroupChat App</h1>
        </header>
    </nav>

    <!-- Main Content -->
    <div class="flex flex-col sm:flex-row h-screen ">
        <!-- Sidebar -->
        <div class="border-2 border-solid border-teal-600 mt-2 mb-2 rounded-lg sm:w-1/3 p-2 sm:top-0 h-5/6 sm:h-5/6 bg-white overflow-y-auto">
            <div class="flex justify-between">
                <button class="ml-2 bg-gray-800 w-full sm:w-28 h-8 rounded-xl text-white mb-2" onClick="createGroup(event)">New Group</button>
                <button class="bg-gray-800 w-full sm:w-20 h-8 rounded-xl text-white mb-2" onClick="logout(event)">Logout</button>
            </div>
            <div>
                <ul id="grpList">
                </ul>
                
            </div>
        </div>

        <!-- Message Display Area -->

        <div class="border-2 border-solid border-teal-600  mt-2 ml-2 mb-2 rounded-lg sm:w-2/3 p-2 sm:sticky h-5/6 sm:h-5/6 bg-white flex justify-between">
            <div id="group_name" class=" hidden px-10 my-2 h-14 flex justify-between">
                <h1 class=" font-semibold text-lg text-green ">My2ndGroup</h1>
                <div class="space-x-2">
                    <button class="bg-gray-800 w-28 h-8 rounded-xl text-white fixed right-28" onClick="editGroup(event)">Edit</button>
                    <button class="bg-gray-800 w-20 h-8 rounded-xl text-white fixed right-10" onClick="information(event)">Info</button>
                </div>
            </div>

            <div id="groupmemberDiv" class="hidden block rounded-xl w-28 text fixed right-10 top-28 text-center ">
             <ul id = "groupInfo">
                <!-- <li class="rounded-xl bg-gray-300 border-2 border-solid border-teal-800" > mahima </li>
                <li class="rounded-xl bg-gray-300  border-2 border-solid border-teal-800 ">mishka</li> -->
             </ul> 
            </div>
            
            
           
            <div class="px-10 my-2 mt-14 fixed right-28flex justify-center">
                <ul class="overflow-auto" id="messages"></ul>
            </div>
        </div>
    </div>

   <!-- <-- Message Input and Group Creation Div -->
     <div class=" justify-between items-center border-2 border-solid border-gray-950 bg-gray-300 text-black py-2 text-center fixed bottom-2 w-screen">
        <div class="flex flex-col sm:flex-row items-center justify-center">
            <label for="userInput" class="font-bold">Enter message:</label>
            <input type="text" id="userInput" name="userInput" class="mb-1 mr-2 h-10 w-full sm:w-2/3">
            <button class="bg-gray-800 w-full sm:w-36 h-8 rounded-xl text-white mb-2 ml-12" onClick="sendMessage(event)">Send</button>
        </div>
    </div>
         
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
 var listNode = document.getElementById('groupInfo'); 
 var listElement = "";
 var firstNode = document.getElementById('messages');
      async function grouphandler(){
            if(localStorage.getItem('currentgrp')!= null){
              const grpDiv = document.getElementById("group_name");
              grpDiv.classList.remove('hidden');
              const h1Element = grpDiv.querySelector('h1');
              const groupname = localStorage.getItem('currentgrp');
              const id = localStorage.getItem('grpId');
               h1Element.textContent = groupname;
               
               const message = await axios.get(`http://13.232.107.32:3000/groupmessages/${id}`).then((response)=>{
                console.log("here is your response", response.data);
                for(var i=0;i<response.data.message.length;i++){
                showOnScreen(response.data.message[i],i)
                }
               }).catch((err)=>{
                console.log(err);
               })
              

            }
        }
      //  grouphandler()

        async function sendMessage(event){
            event.preventDefault()
            try{
                const userInput = document.getElementById("userInput").value;
                const id= localStorage.getItem('grpId');
                const messages = {
                    message: userInput,
                    id:id
                }
                const token = localStorage.getItem('token');
                const message = await axios.post('http://13.232.107.32:3000/messages',  messages  ,{headers: {"Authorisation": token} })
                if(message.status===200){
                    console.log("23232",message.data.message);
                    showOnScreen(message.data.message,0)
                }
             }
            catch(err){
                console.log(err);
            }
        }

    
        
        window.addEventListener('DOMContentLoaded', ()=>{
         async function getandsavetolocalstorage(){
            const node = document.getElementById('messages');
            node.innerHTML= " ";
            const lclstorage = localStorage.getItem('msgs')
            console.log("is it blank", lclstorage);
            if(lclstorage===null){
                const idval =0;
                await axios.get(`http://13.232.107.32:3000/message/${idval}`).then(async(response)=>{
               console.log("@#@#@#@#", response);
               const msgArray = [];
               var lower_bound =0;
               var upper_bound = 11;
               if (response.data.newdata.length>10){
                lower_bound = response.data.newdata.length-10
                upper_bound = response.data.newdata.length
               }
               for(var i =lower_bound;i<upper_bound;i++){
                var k=i+1;
                const chats={
                    id: k,
                    name:response.data.newdata[i].name,
                    message: response.data.newdata[i].message,
                };
                msgArray.push(chats);
            }
                const savemsg = JSON.stringify(msgArray);
                localStorage.setItem('msgs', savemsg)
               
               fetchFromStorage()
            }).catch((err)=>{
                console.log(err);
            })
            }
            else{
                const lclstor = localStorage.getItem('msgs')
            const parseentry = JSON.parse(lclstor)
             const lastid  = parseentry.length;
             const idval = parseentry[lastid-1].id;
             console.log("isssssssssss", idval)
             await axios.get(`http://13.232.107.32:3000/message/${idval}`).then(async(response)=>{
               console.log("@#@#@#@#", response);
            if(response.data.newdata.length!=0){
               const msgArray = [];
               var lower_bound =0;
               var upper_bound = 1;
               const lclstorage = localStorage.getItem('msgs')
             localStorage.removeItem('msgs');
               const pentry = JSON.parse(lclstorage)
               const filteredArray = pentry.filter(entry => entry.id !== idval-10);

            // Save the modified array back to localStorage
            localStorage.setItem('msgs', JSON.stringify(filteredArray));
            const updated = localStorage.getItem('msgs')
            const parseUpdate = JSON.parse(updated);
            
               var fethd =idval
               for(var i =lower_bound;i<upper_bound;i++){
                var k=fethd+1;
                fethd++;
                const chats={
                    id: k,
                    name:response.data.newdata[i].name,
                    message: response.data.newdata[i].message,
                };
                msgArray.push(chats);
            }
            const newmsgs = parseUpdate.concat(msgArray)
                const savemsg = JSON.stringify(newmsgs);
                localStorage.setItem('msgs', savemsg)
               
               fetchFromStorage()
            }
            else{
                console.log("No new entry");
                fetchFromStorage()
            }
        }).catch((err)=>{
                console.log(err);
            })

            }  
            }
    //         getandsavetolocalstorage();
        
    //     setInterval(() => {
    //         getandsavetolocalstorage();
    // }, 10000); 
           
           
        })

 async function displaygroupName() {
  const token = localStorage.getItem('token');
  const grList = document.getElementById('grpList');
//   if (localStorage.getItem("group") !== null) {
    const groups = await axios.get('http://13.232.107.32:3000/getgroups', {
      headers: { "Authorisation": token }
    }).then((response) => {
      console.log("groups are", response.data.message.length);
      for (var i = 0; i < response.data.message.length; i++) {
        const listItem = document.createElement('li');
        listItem.id = response.data.message[i].idValue;
        listItem.className = "text-green bg-gray-300 p-2 border-2 border-solid border-black-800";
        listItem.innerHTML = `<span class="text-green text-lg">${response.data.message[i].name}</span>`;
        const group_Name = response.data.message[i].name;
        const group_Id =  response.data.message[i].idValue;
        //Add a click event listener to the created list item
        listItem.addEventListener('click', () => {
  displayGroupInfo(group_Name, group_Id);
});
        grList.appendChild(listItem);
      }
    })
 }
// }

function displayGroupInfo(name,id) {
            const div = document.getElementById('groupmemberDiv');
            div.classList.toggle('hidden');
            firstNode.innerHTML = '';
            listNode.innerHTML = '';
            // console.log("name is",group_Id);
            localStorage.setItem('currentgrp',name);
            localStorage.setItem('grpId',id);
            grouphandler()
          // Handle the click event here, for example, alert the ID
          console.log("its almost done ")
        }
   
function  showOnScreen(data,i){
    document.getElementById('userInput').value = "";
   
    
    if(i%2!=0){
        inputData = `<li class = "mr-4 p-2 bg-stone-200  rounded-lg mb-2 fixed  "> 
                <span class=" text-black text-green text-sm underline"> ${data.name }: </span><br>
                <span class="ml-2 font-semibold text-black">  ${data.message}</span>
                             </li>`;

              }

              else{
             inputData = `<li class = "mr-4 p-2 bg-stone-200  rounded-lg mb-2 "> 
                <span class=" text-black text-green text-sm underline"> ${data.name }: </span><br>
                <span class="ml-2 font-semibold text-black">  ${data.message}</span>
                             </li>`
              }
           
  firstNode.innerHTML = firstNode.innerHTML + inputData;

}
async function fetchFromStorage(){
const msgArray = localStorage.getItem('msgs');
const arr = JSON.parse(msgArray);
for(var i=0;i<arr.length;i++){
    showOnScreen(arr[i],i)
}
console.log("Array is @@@", arr[0].id);

}


displaygroupName()

      

        async function createGroup(event){
            event.preventDefault()
            try{
                 window.location.href = "groupcreation"
            }
            catch(err){
                console.log(err);
            }
        }

        async function information(event){
            listNode.innerHTML = '';
         const id =localStorage.getItem('grpId')
         const groupId ={
            groupid:id
         }
         console.log("the group id ", id);
        const members =  await  axios.post('http://13.232.107.32:3000/getmembers', groupId).then((response)=>{
            console.log("response is", response);
          const div =   document.getElementById('groupmemberDiv');
           div.classList.toggle('hidden')
           for(var i =0; i<response.data.message.length;i++){
             listElement = ` <li class="rounded-xl bg-gray-300 border-2 border-solid border-teal-800" > ${response.data.message[i].name} </li>`
            listNode.innerHTML = listNode.innerHTML+ listElement;
           }
        }).catch((err)=>{
            console.log(err);
        })

}

 function editGroup(event){
    window.location.href = "editUsers"
 }



       
    </script>


    <script src="https://cdn.tailwindcss.com"></script>  
</body>
</html>
