<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupChatApp</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <nav class="bg-sky-800">
        <header class="text-white py-2 text-center">
            <h1>GroupChat App</h1>
        </header>
    </nav>
    <div class="flex justify-center items-center h-screen mx-2">
        <div class="border border-solid border-blue-800 rounded-lg w-full sm:w-2/3">
            <div class="py-2 text-center">
                <h1 class="items-center font-semibold text-2xl "> SELECT USERS</h1>
                <div id="usersList" class="top-20 left-10 w-full h-30 ro flex flex-col justify-between items-center">
                    <ul class="overflow-auto text-left w-full justify-between items-center" id="users">
                    </ul>
                </div>
                
                
            </div>
            <button class= "bg-gray-800 text-white rounded-xl ml-2 h-8 w-14 mb-2" onclick = "save(event)">Save </button> 
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    async function getUsers(){
    const token = localStorage.getItem('token')
            const users = await axios.get('http://localhost:3000/user', {headers: {"Authorisation": token} })
            if(users.status===200){
              
                var firstNode = "";

                for(var i=0;i<users.data.newdata.length;i++){
                    console.log("all users", users.data.newdata[i])
                    firstNode = document.getElementById('users');
                    
    var inputData = 0;
        inputData = `

  <li id = ${users.data.newdata[i].id} class="flex justify-between items-center border-4 border-solid border-fuschia-800 mx-auto p-2 bg-gray-300 rounded-lg w-full ">

    <div class="txt-black font-bold text-lg  ">${users.data.newdata[i].name }  </div>
    
    <button class= "bg-gray-800 text-white rounded-xl ml-2 h-8 w-14 mb-2" onclick = "addUser(${users.data.newdata[i].id})">Add </button> 
      
  </li>
`;

 firstNode.innerHTML = firstNode.innerHTML + inputData;

 
                }
              
            }
        }
     
        getUsers();


       async function addUser(id){
        try{
            const gpname = localStorage.getItem('group');
            const gpId = localStorage.getItem('grpId');
            console.log("id pf the user is", id );
            console.log("group name is ", gpname);
            console.log("group id is ", gpId);
            const details = {
                UserId: id,
                groupTableId: gpId
            }
           await axios.post('http://localhost:3000/addUser', details).then((response)=>{
                    if(response.status===200){
                        console.log("well done")
                    }
           })
        }
        catch(err){
            console.log(err);
        }


        }

    function save(event){
        try{
            
            const grname = localStorage.getItem("group");
            const currentgrp = localStorage.setItem("currentgrp", grname)
            window.location.href = "chatApp.html"
        }
        catch{

        }
    }    

</script>

    
    <script src="https://cdn.tailwindcss.com"></script>  
</body>
</html>
